@import "purecss";
@import "pure-extras";
@import "font-awesome";
@import "./modules/vars";
@import "./modules/utilities";
@import "./modules/buttons";

body {
    color: var(--color-dark);
}
a {
    text-decoration: none;
    color: #var(--color-blue);
}
.app {
    inherit: .pure-g;
}
.menu {
    inherit: .pure-menu;
}
.page-list {
    inherit: .pure-menu-list;
}
.page {
    inherit: .margin-10;
}
.page span:first-child {
    inherit: .margin-r-10;
}
.edit-button {
    inherit: .pure-button;
    inherit: .pure-button-small;
}

.admin-app {
    inherit: .pure-g;
}

.menu {
    inherit:.pure-u;
    inherit: .zero;
    width: 100%;
    height: 40px;
    position: relative;
    background: var(--color-menu-back);
    text-align: center;
}
.inner-menu {
    inherit: .pure-menu;
    background: transparent;
    border: none;
    text-align: left;

}
.menu-link {
    inherit: .pure-menu-link;
        color: #fff;
    margin-left: 0.5em;
}
.menu-link:hover,
.menu-link:focus {
    background: rgb(55, 60, 90);
}
.menu-heading {
    inherit:.pure-menu-heading;
    border-bottom: none;
    font-size:110%;
    color: rgb(75, 113, 151);
}
.menu-list {
    inherit:.pure-menu-list;

}

.list {
    inherit:.zero;
    inherit:.pure-u-1;

}


@media (--medium-screen) {
    .app {
        padding-left:500px; /* "left col (nav + list)" width */
        position: relative;
    }
    .menu, .list {
        position: fixed;
        top: 0;
        bottom: 0;
        overflow: auto;
    }
    .menu {
        margin-left:-500px; /* "left col (nav + list)" width */
        width:150px;
        height: 100%;
    }
    .inner-menu {
        display: block;
        padding: 2em 0;
    }
    .menu-button {
        display: none;
    }
    .list {
        margin-left: -350px;
        width: 100%;
        height: 33%;
        border-bottom: 1px solid #ddd;
    }
}
@media (--large-screen) {
        /* This will take up the entire height, and be a little thinner */
    .list {
        margin-left: -350px;
        width:350px;
        height: 100%;
        border-right: 1px solid #ddd;
    }

    /* This will now take up it's own column, so don't need position: fixed; */
    .main {
        position: static;
        margin: 0;
        padding: 0;
    }
} 
.avatar-unknown {
    inherit: .fa;
    inherit: .fa-user;
    inherit: .fa-3x;
    padding:5px;
    margin:10px;
}
@import "./modules/list";
@import "./modules/pages";
@import "./modules/main";