<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>{{title}}</title>
    <meta name="description" content="" />
    <meta name="author" content="" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link rel="stylesheet" type='text/css' href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css"/>
    <link rel="stylesheet" href="/components/pure-extras.css"/>
    <link rel="stylesheet" href="/components/pure-typography.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <div class="pure-g-r" id="layout">
        <div class="sidebar pure-u">
            <header class="header">
                <hgroup>
                    <h1 class="brand-title">NZ News</h1>
                    <h2 class="brand-tagline">News headlines from across New Zealand</h2>
                </hgroup>

                <nav class="nav">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a class="pure-button" href="http://purecss.io">Pure</a>
                        </li>
                        <li class="nav-item">
                            <a class="pure-button" href="http://yuilibrary.com">YUI Library</a>
                        </li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="pure-u-1">
            <div class="content">
                {{{body}}}

                <footer class="footer">
                    <div class="pure-menu pure-menu-horizontal pure-menu-open">
                        <ul>
                            <li><a href="/about">About</a></li>
                            <li><a href="http://twitter.com/">Twitter</a></li>
                            <li><a href="http://facebook.com/">Facebook</a></li>
                        </ul>
                    </div>
                </footer>
            </div>
        </div>
    </div>

 
<script>
 
</script>
</body>
</html>
