
.pages-icon {
	padding-right:8px;
}
.pages-deleted {
	inherit:.pages-icon;
	inherit:.fa;
	inherit:.fa-trash-o;
}
.pages-draft {
	inherit:.pages-icon;
	inherit:.fa;
	inherit:.fa-file-o;
}
.pages-queue {
	inherit:.pages-icon;
	inherit:.fa;
	inherit:.fa-clock-o;
}
.pages-published {
	inherit:.pages-icon;
	inherit:.fa;
	inherit:.fa-file-text-o;
}