<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The XMS Admin</title>
  <meta name="description" content="The XMS Admin Interface">
  <meta name="author" content="Kevin Isom">

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/pure-min.css">
  <link rel="stylesheet" type="text/css" href="/css/react-treeview.css">
</head>

<body> 
<div id="container"></div>
  <script src="/admin/js/app.js"></script>


  <script type="text/javascript">

  </script>
</body>
</html>