<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The XMS Admin</title>
  <meta name="description" content="The XMS Admin Interface">
  <meta name="author" content="Kevin Isom">
  <link rel="stylesheet" href="/admin/css/style.css"> 
  <style type="text/css">
 
 
  </style>
</head>

<body> 
<div id="container"></div>
  <script src="/admin/js/app.js"></script>
</body>
</html>