<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Login</title>
  <meta name="description" content="The XMS Admin Interface">
  <meta name="author" content="Kevin Isom">
  <link rel="stylesheet" href="/admin/css/style.css"> 
  <style type="text/css">
 
  body {
    margin:20px;
  }
  </style>
</head>

<body> 
<div id="container">
  <div class="flash <%= message.message.error.length > -1 ? "error": ""%>">
      <% if (message.message.error.length > -1) {%>
        <%= message.message.error[0];
        %><%}%>
  </div>
<form class="pure-form pure-form-stacked" method="POST" action="/admin/login">
    <fieldset>
        <legend>Login</legend>

        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">

        <label for="remember">
            <input id="remember" type="checkbox"> Remember me
        </label>

        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
    </fieldset>
</form>
</div>
</body>
</html>